body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    background: url("https://files.catbox.moe/2dp0nf.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}
.aboutmeh{
    padding: 40px;
}
.toggle{
    align-items: center;
    justify-content: center !important;
    color: white;
}
.profil{
    color: white;
}
.h5{
    color: white;
}
.page-footer{
    color: white;
}
.navbar{
    font-family: cursive;
    font-size: 20px;
    position: fixed;
    z-index: 1030;
    width: 100%;
}
.nav-link{
    color: black;
}
.bg-light{
    background-color: thistle !important;
}
.logo{
    height: 50px;
    float: left;
}
.title{
    padding: 25px;
}
.img-circle{
    border: 3px solid white;
    border-radius: 50%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkred;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: darkred;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.accordion{
    text-align: left;
    display: block;
    padding: 0 25% 0 25%;
    margin: 0 0 5%;
}

.card-header{
    width: 100%;
    padding: 2%;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: darkred;
    color: cornsilk;
}

h4{
    margin: 0 0 0 4%;
    padding: 0;
}

.card{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px #d4d4d4;
}

.active, .card-header:hover{
    background: url("https://files.catbox.moe/i183nj.jpg");
    color: black;
}
