<!DOCTYPE html>
    {% load static %}
    <head>
        <title>Fitri's Website</title>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link class="icon" rel="icon" type="img/png" href="https://files.catbox.moe/qoyk7z.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Condensed">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
        <link class="style" rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'aboutmeh' %}" class="navbar-brand"><img class="logo mr-auto" src="https://files.catbox.moe/qoyk7z.png"></a>
            <span style="text-align: center;"><h2>About Me</h2></span>
        </nav>
        <!-- switch mode -->
        <div class="aboutmeh"></div>
            <div class="load"></div>
            <div class="toggle">
                <h5>&#9788
                    <span>
                        <label class="switch">
                            <input type="checkbox">
                            <span name="toggle" class="slider round light"></span>
                        </label>
                    </span>
                    &#9733
                </h5>
            </div>
            <!-- Photo -->
            <div class="profil">
                <img id="photo" class="img-circle" alt="Fitri Handayani" src="https://files.catbox.moe/cd0cg5.jpg"  width="270" height="auto" border>
                <h2><strong>Hello, I'm Fitri!</strong></h2>
            </div>
            <!-- Accordion -->
            <div class="accordion">
                <div class="card">
                    <button type="button" class="card-header" name="activity"><strong>Activity</strong></button>
                        <div class="card-body">
                            <ul>
                                <li>Student at Fasilkom UI</li>
                                <li>Treasurer of SIWAK-NG 2019</li>
                                <li>VPIC of Fundraising PMB 2019</li>
                                <li>Staff of KMF FUKI 2019</li>
                            </ul>
                        </div>
                </div>

                <div class="card">
                    <button type="button" class="card-header" name="experience"><strong>Experience</strong></button>
                        <div class="card-body">
                            <h4><strong>Organization</strong></h4>
                            <ul>
                                    <li>Staff of KMF FUKI 2019</li>
                            </ul>
                            <h4><strong>Committee</strong></h4>
                            <ul>
                                <li>Treasurer of SIWAK-NG 2019</li>
                                <li>VPIC of Fundraising PMB 2019</li>
                                <li>Staff of Public Relations Wisuda Ganjil Fasilkom UI 2019</li>
                                <li>Staff of Partnership Sparctix6</li>
                            </ul>
                        </div>
                </div>

                <div class="card">
                    <button type="button" class="card-header" name="achievement"><strong>Achievement</strong></button>
                        <div class="card-body">
                            <ul>
                                <li>The Winner of Traditional Group Dance D.K.I Jakarta 2011</li>
                                <li>The Winner of Islamic Poetry Reading Contest 2010</li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <footer class="page-footer font-small blue fixed-bottom">
            <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Fitri Handayani © 2019</div>
            <!-- Copyright -->
        </footer>
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
    </body>
</html>